/* The main board design and the squares */

.board {
	width: 40em;
  height: 40em;
  margin: 0 auto;
  border: 1px solid brown;
  background-color:#FFCE9E;
  box-shadow: 10px 10px 5px #888888;
  
}

body {
	background-image: url('../images/light.jpg');
}

.square-white, .square-black {
	width: 5em;
	height: 5em;
  position: relative;
  z-index: 0;
}
.square-black {
	background-color: #D18B47;
}

.column {
	float: left;
}
/* --End-- */

#meta-display, #debug {
	background-color: white;
	height: 2em;
	width: 9em;
	position: fixed;
	
} 

.piece {
	margin: 0 auto;
	position: relative;
	z-index: -1;
	
}