
<head>
<link rel="stylesheet" type="text/css" href="css/board.css">

</head>


<body>
  <script type="text/javascript" src="js/jquery.min.js"></script>  <script type="text/javascript" src="js/board.js"></script>
  <script type="text/javascript" src="js/piece-positions.js"></script>
  <script type="text/javascript" src="js/moves.js"></script>
  <div id="meta-display"></div>
  <div id="debug"></div>
  <div class="board">
   <div class="column" id="A">
    <div id="A-1" class="square-white"></div>
    <div id="A-2" class="square-black"></div>
    <div id="A-3" class="square-white"></div>
    <div id="A-4" class="square-black"></div>
    <div id="A-5" class="square-white"></div>
    <div id="A-6" class="square-black"></div>
    <div id="A-7" class="square-white"></div>
    <div id="A-8" class="square-black"></div>
   </div>
   <div class="column" id="B">
    <div id="B-1" class="square-black"></div>
    <div id="B-2" class="square-white"></div>
    <div id="B-3" class="square-black"></div>
    <div id="B-4" class="square-white"></div>
    <div id="B-5" class="square-black"></div>
    <div id="B-6" class="square-white"></div>
    <div id="B-7" class="square-black"></div>
    <div id="B-8" class="square-white"></div>
   </div>
   <div class="column" id="C">
    <div id="C-1" class="square-white"></div>
    <div id="C-2" class="square-black"></div>
    <div id="C-3" class="square-white"></div>
    <div id="C-4" class="square-black"></div>
    <div id="C-5" class="square-white"></div>
    <div id="C-6" class="square-black"></div>
    <div id="C-7" class="square-white"></div>
    <div id="C-8" class="square-black"></div>
   </div>
   <div class="column" id="D">
    <div id="D-1" class="square-black"></div>
    <div id="D-2" class="square-white"></div>
    <div id="D-3" class="square-black"></div>
    <div id="D-4" class="square-white"></div>
    <div id="D-5" class="square-black"></div>
    <div id="D-6" class="square-white"></div>
    <div id="D-7" class="square-black"></div>
    <div id="D-8" class="square-white"></div>
   </div>
   <div  class="column" id="E">
    <div id="E-1" class="square-white"></div>
    <div id="E-2" class="square-black"></div>
    <div id="E-3" class="square-white"></div>
    <div id="E-4" class="square-black"></div>
    <div id="E-5" class="square-white"></div>
    <div id="E-6" class="square-black"></div>
    <div id="E-7" class="square-white"></div>
    <div id="E-8" class="square-black"></div>
   </div>
   <div class="column" id="F">
    <div id="F-1" class="square-black"></div>
    <div id="F-2" class="square-white"></div>
    <div id="F-3" class="square-black"></div>
    <div id="F-4" class="square-white"></div>
    <div id="F-5" class="square-black"></div>
    <div id="F-6" class="square-white"></div>
    <div id="F-7" class="square-black"></div>
    <div id="F-8" class="square-white"></div>
   </div>
   <div class="column" id="G">
    <div id="G-1" class="square-white"></div>
    <div id="G-2" class="square-black"></div>
    <div id="G-3" class="square-white"></div>
    <div id="G-4" class="square-black"></div>
    <div id="G-5" class="square-white"></div>
    <div id="G-6" class="square-black"></div>
    <div id="G-7" class="square-white"></div>
    <div id="G-8" class="square-black"></div>
   </div>
   <div class="column" id="H">
    <div id="H-1" class="square-black"></div>
    <div id="H-2" class="square-white"></div>
    <div id="H-3" class="square-black"></div>
    <div id="H-4" class="square-white"></div>
    <div id="H-5" class="square-black"></div>
    <div id="H-6" class="square-white"></div>
    <div id="H-7" class="square-black"></div>
    <div id="H-8" class="square-white"></div>
   </div>
   </div>
</body>