.calendar-grid{
  border: 6px double indigo;
  width:  576px;
  height: 364px;
  margin: 0 auto;
}
.row {
  height: 50px;
  border: 1px solid indigo;
}
.day {
  width: 80px;
  border: 1px solid indigo;
  float: left;
  height: 50px;
  font-size: 21px;
}
.days {
  height: 50px;
  border: 1px solid indigo;
}
.label {
  width: 80px;
  border: 1px solid;
  float: left;
  height: 40px;
  font-size: 30px;
}
.holiday {
 color: red
}

