body {
 background: url('../images/light.jpg');
}

#tictactoe-board {
  width: 396px;
  height: 400px; 
  margin: 0 auto;
}

.table {
 width: 100%;
 height: 100%;
 font-size: 100px;
 background-color:white;
 border: 2px solid black;
 color: blue;
}
.ai_was_here {
 color: red;
}
.cell {
  border: 1px solid black;
  width: 130px;
  height: 132px;
  float: left;
  text-align: center;
}
.row {
  height: 33%;
  width: 100%;
}


